<!-- nav -->
<nav class="navbar navbar-expand px-6">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="nav-item nav-link" routerLink="/admin" routerLinkActive="active" >Admin</a>
      <a class="nav-item nav-link" routerLink="/applicant" routerLinkActive="active">Applicant</a>
      <a class="nav-item nav-link" routerLink="/college" routerLinkActive="active">College</a>
      <a class="nav-item nav-link" routerLink="/campus" routerLinkActive="active">WalkIn</a>
      <a class="nav-item nav-link" routerLink="/core/applicant" routerLinkActive="active">Campus</a>
      <a class="nav-item nav-link" routerLink="/core/applicant" routerLinkActive="active">Reports</a>
      <button class="btn btn-link nav-item nav-link" (click)="logout()">Logout</button>
  </div>
</nav>

<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>