
@import '~@fortawesome/fontawesome-free/css/fontawesome.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

body{
    background: #ffff !important;
    font-family: 'Muli', sans-serif;
    
  }
  /* a{
    color: #333;
  }
  a:hover{
    color: #ffff;
    text-decoration: none;
  } */
  /* .form-control:focus {
  
      color: #000;
      background-color: #fff;
      border:2px solid #fff;
      outline: 0;
      box-shadow: none;
  
  } */
  
  /* .btn{
    background: blue;
    border: blue;
  }
  .btn:hover {
    background: blue;
    border: blue;
  } */
