<div class="header">
    <div class="container">
        <div class="logo">
            <a href="#" class="logo"><img src="~/../../../../../assets/logo.jpg" alt=""></a>
        </div>
        <div class="hamburger hamburger--vortex">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>
        <div class="header_admin"> 
            <div class="user_images">
                <img src="/Content/Admin/images/user.jpg" alt="">
            </div>
            <span class="user_info">admin<i class="fa fa-angle-down" aria-hidden="true"></i></span>
            <ul class="user_drop" style="display: none;">
                <li>
                    <a href="#"><span class="userdrop_icon"><i class="fa fa-user" aria-hidden="true"></i></span>My Profile</a>
                </li>
                <li>
                    <a href="/Admin/Account/Logoff"><span class="userdrop_icon"><i class="fa fa-power-off" aria-hidden="true"></i></span>Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="nav">
    <div class="container">
        <ul>
            <li>
                <a class="active" routerLink="/dashboard"><span class="nav_icon"><img src="~/../../../../../assets/dashboard.png" alt=""></span>Dashboard</a>

            </li>
            <li>
                <a class="" routerLink="/applicant"><span class="nav_icon"><img src="~/../../../../../assets/applicant.png" alt=""></span>Applicant</a>
                
            </li>
            <li>
                <a class="" routerLink="/college"><span class="nav_icon"><img src="~/../../../../../assets/applicant.png" alt=""></span>Colleges</a>
            </li>
            <li>
                <a class="" routerLink="/college"><span class="nav_icon"><img src="~/../../../../../assets/applicant.png" alt=""></span>Campus Walk-In</a>

            </li>
            <li>
                <a class=""routerLink="/college"><span class="nav_icon"><img src="~/../../../../../assets/requests.png" alt=""></span>Questions</a>
            </li>
            <li>
            </li>
            <li>

                <a class="" routerLink="/college"><span class="nav_icon"><img src="~/../../../../../assets/Reports.png" alt=""></span>Reports</a>
            </li>

        </ul>
    </div>
</div>


